.contact-section {
    color: #FFFFFF;
    padding: 50px 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h2 {
    font-size: 36px;
    color: #00F778;
    font-family: 'Exo 2', sans-serif;
}

.contact-header p {
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
}

.contact-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center; /* Alinha horizontalmente ao centro */
}
.contact-form,
.contact-info {
    opacity: 0;
    transform: translateX(-1000px); /* Inicia fora da tela, à esquerda */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    max-width: 500px;
    padding: 20px;
    background: rgba(6, 6, 6, 0.8);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.contact-form {
    transform: translateX(1000px); /* Inicia fora da tela, à direita */
}

.visible {
    opacity: 1;
    transform: translateX(0); /* Retorna à posição original */
}

.contact-info h3, .contact-form h3 {
    font-size: 24px;
    color: #00F778;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
    font-family: 'Exo 2', sans-serif;
}
.fixed-textarea {
    width: 300px;   
    height: 300px;  
    resize: none;   
}

.contact-form input, .contact-form textarea {
    width: 90%;
    padding: 10px ;
    margin: 10px 0;
    border: 2px solid #00F778;
    border-radius: 5px;
    background: #0B3674;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}

.contact-form button {
    padding: 10px 20px;
    background: #00F778;
    border: none;
    border-radius: 5px;
    color: #0B3674;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
}

.contact-form button:hover {
    background: #00cc61;
}
.location-image {
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #00F778;
    overflow: hidden;
}

.location-image img {
    width: 100%;
    height: auto;
    display: block;
}
