.show {
    opacity: 1;
    transform: translateY(0); /* Move para a posição final */
}
  
.body-team {
    margin: 0;
    padding: 0;
    height: 600px;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.carousel-title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 36px;
    color: white;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column; /* Ajusta para empilhar o conteúdo verticalmente */
}

.carousel-wrapper {
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-direction: row; /* Garante que os itens do carrossel fiquem lado a lado */
}

.carousel-item {
    min-width: 300px;
    margin: 0 20px;
    text-align: center;
    border: 2px solid #fff; /* Bordas brancas */
    border-radius: 15px; /* Bordas arredondadas */
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden; /* Para garantir que a borda arredondada se aplique corretamente */
}

.carousel-item img {
    margin-top: 8px;
    width: 60%;
    border-radius: 50%; /* Bordas arredondadas nas imagens também */
}

.carousel-item p {
    margin: 5px 0;
    font-size: 18px;
    color: white;
}

.carousel-item .position {
    margin: 20px;
    font-size: 16px;
    color: white;
}

.carousel-item:hover {
    box-shadow: 0 0 20px #00F778; /* Box shadow verde ao passar o mouse */
    transform: scale(1.1);
}
.carousel-item:hover.carousel-item img{
    margin-top: 8px;

    border-radius: 3% ;
}

.arrow-container {
    display: flex;
    justify-content: center; /* Centraliza as setas horizontalmente */
    margin-top: 10px; /* Espaço entre o carrossel e as setas */
}
.arrow {
    border: none;
    font-size: 32px; /* Tamanho maior das setas */
    cursor: pointer;
    color: white;
    background: none;
    margin: 0 10px; /* Espaçamento entre as setas */
    margin-top: 40px;
    z-index: 1;
}
.arrow:hover {
    transform: scale(1.2);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.social-buttons {
    margin-top: 10px;
    text-align: center;
}

.social-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white; /* Cor dos ícones */
    line-height: 30px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.social-button:hover {
    background-color: white; /* Fundo azul ao passar o mouse */
    color: #0B3674; /* Cor branca dos ícones ao passar o mouse */
}