@keyframes scaleUp {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.container-xxl {
    padding: 5rem 0;
}

.text-center {
    max-width: 600px;
    margin: 0 auto 2rem auto;
    text-align: center;
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(-100px); /* Começa acima da posição final */
    transition: opacity 0.5s ease-out, transform 1.5s ease-out; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.show {
    opacity: 1;
    transform: translateY(0); /* Move para a posição final */
}

.text-center p {
    display: block;
    margin: 0 auto 1rem auto;
}

.text-center h1 {
    font-size: 36px;
    color: #00F778;
    font-family: 'Exo 2', sans-serif;
}

.team-item {
    position: relative;
    border: 2px solid #fff; /* Borda branca ao redor da div */
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    padding: 1rem;
    background-color: transparent; /* Fundo transparente por padrão */
    height: 90%; /* Altura da div */
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px; /* Limite máximo de largura */
    margin: 0 auto; /* Centraliza as divs */
    opacity: 0; /* Inicialmente invisível */
    transform: scale(0.2); /* Inicialmente pequeno */
    max-width: 400px;
    display: flex;
}


/* Classe que será adicionada quando a div estiver visível */
.team-item.visible {
    animation: scaleUp 0.8s ease-out forwards;
}

.team-item:hover {
    background-color: #0B3674; /* Fundo azul ao passar o mouse */
    transform: scale(1.05); /* Zoom suave ao passar o mouse */
}

.team-item img {
    width: 100%;
    height: 70%; /* Ajuste da altura da imagem para ser retangular na vertical */
    object-fit: cover;
    border-radius: 0.5rem;
}

.team-text {
    margin-top: 1rem;
}

.team-social {
   margin-top: 1rem;
    justify-content: center;
}
.team-social .btn {
    color: #fff; /* Ícones brancos */
    background-color: transparent; /* Fundo transparente para os botões */
    border: none; /* Remover borda */
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animação suave */
    font-size: 1.2rem; /* Aumenta o tamanho dos ícones */
}

.team-social .btn:hover {
    transform: scale(1.1); 
    color: #0B3674;
    background-color: white;
}

.team-social {
    margin-top: 1rem;
}

.team-social .btn-square {
    margin: 0 0.5rem; /* Aumenta o espaço entre os ícones */
}

.btn-square {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.btn-square:hover {
    background-color: #0056b3; /* Mudar cor ao passar o mouse */
    color: #fff;
}

.row.g-4 {
    display: flex;
    justify-content: center; /* Centraliza as colunas */
    gap: 2rem; /* Espaço entre as divs */
}

.col-lg-4,
.col-md-6 {
    flex: 1;
    max-width: 100%; /* Ajuste para ocupar toda a largura disponível */
    margin: 0 0.5%; /* Pequeno espaço entre as colunas */
}
.team-text p.small-text {
    margin-top: 0.5rem;
    font-size: 0.9rem; /* Tamanho da fonte menor */
    color: #6c757d; /* Cor do texto */
}

@media (max-width: 768px) {
    .col-lg-4,
    .col-md-6 {
        max-width: 100%;
        margin-bottom: 2rem;
    }
    
}


